In [1]:
!pip install -q pyomo
!apt-get install -y -qq glpk-utils
!apt-get install -y -qq glpk-utils

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.2/11.2 MB 36.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.6/49.6 KB 3.9 MB/s eta 0:00:00
Selecting previously unselected package libsuitesparseconfig5:amd64.
(Reading database ... 128208 files and directories currently installed.)
Preparing to unpack .../libsuitesparseconfig5_1%3a5.7.1+dfsg-2_amd64.deb ...
Unpacking libsuitesparseconfig5:amd64 (1:5.7.1+dfsg-2) ...
Selecting previously unselected package libamd2:amd64.
Preparing to unpack .../libamd2_1%3a5.7.1+dfsg-2_amd64.deb ...
Unpacking libamd2:amd64 (1:5.7.1+dfsg-2) ...
Selecting previously unselected package libcolamd2:amd64.
Preparing to unpack .../libcolamd2_1%3a5.7.1+dfsg-2_amd64.deb ...
Unpacking libcolamd2:amd64 (1:5.7.1+dfsg-2) ...
Selecting previously unselected package libglpk40:amd64.
Preparing to unpack .../libglpk40_4.65-2_amd64.deb ...
Unpacking libglpk40:amd64 (4.65-2) ...
Selecting previously unselected package glpk-utils.
Preparing to unpack .../glpk-utils_4.65-2_amd64.deb ...
Unpacking glpk-utils (4.65-2) ...
Setting up libsuitesparseconfig5:amd64 (1:5.7.1+dfsg-2) ...
Setting up libamd2:amd64 (1:5.7.1+dfsg-2) ...
Setting up libcolamd2:amd64 (1:5.7.1+dfsg-2) ...
Setting up libglpk40:amd64 (4.65-2) ...
Setting up glpk-utils (4.65-2) ...
Processing triggers for man-db (2.9.1-1) ...
Processing triggers for libc-bin (2.31-0ubuntu9.9) ...

In [2]:
import os
import datetime 
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta


from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)
client = gspread.authorize(creds)
import locale
import calendar
import math



import pyomo.environ as pyo
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import DistanceMetric

In [3]:

tu= gc.open_by_url('https://docs.google.com/spreadsheets/d/1AMjOArJbsAqBnDM8imwYOmjWJMuQw1wFa_ZItR7mJBM/edit#gid=1641204152')
meta= tu.worksheet('PSF CENTRO')
dados = meta.get_all_records()
dados = pd.DataFrame(dados)

In [4]:
dados['Capacidade'] = 4000

In [5]:
dados.drop(0,inplace = True)

In [6]:
dados.drop(['COORDENADAS'],axis = 1, inplace = True)

In [7]:
dados.shape

(45, 48)

In [8]:
for i in dados.columns[1:47].tolist():
  dados[i]=pd.to_numeric(dados[i])

In [9]:
Ci = list(dados.População)
Kj = list(dados.Capacidade)

In [10]:
modelo = pyo.ConcreteModel()

In [11]:
dij=dados[['1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45']].to_numpy()

In [12]:
modelo.M= range(len(dij))

In [13]:
modelo.N = range(len(dij))

In [14]:
modelo.d = pyo.Param(modelo.M, modelo.N, initialize=lambda modelo, i, j: dij[i][j])
modelo.C = pyo.Param(modelo.M, initialize=lambda modelo, i: Ci[i])
modelo.K = pyo.Param(modelo.N, initialize=lambda modelo, j: Kj[j])

In [15]:
p = 9

In [16]:
modelo.y = pyo.Var(modelo.N, within=pyo.Binary)
modelo.x = pyo.Var(modelo.M, modelo.N, within=pyo.Binary)

In [17]:
def f_obj(modelo):
    return sum(modelo.C[i] * modelo.x[i,j]*modelo.d[i,j] for i in modelo.M for j in modelo.N)

modelo.objetivo = pyo.Objective(rule=f_obj, sense=pyo.minimize)

In [18]:
modelo.restricao_a = pyo.Constraint(expr=sum(modelo.y[j] for j in modelo.N) == p)

In [19]:
modelo.restricao_b = pyo.ConstraintList()
for i in modelo.M:
    modelo.restricao_b.add(sum(modelo.x[i,j] for j in modelo.N) == 1)

In [20]:
modelo.restricao_c = pyo.ConstraintList()
for j in modelo.N:
    modelo.restricao_c.add(sum(modelo.C[i] * modelo.x[i,j] for i in modelo.M) <= modelo.K[j] * modelo.y[j])

In [21]:
resultado=pyo.SolverFactory('glpk', executable='/usr/bin/glpsol').solve(modelo)

In [22]:
# Medianas
list_y = list(modelo.y.keys())
dados_modelo = dados.copy()
dados_modelo['Mediana'] = [modelo.y[i]() for i in list_y]
# Alocações:
list_x = list(modelo.x.keys())
alocacoes = [i for i in list_x if modelo.x[i]() == 1]
alocacoes.sort(key=lambda x:x[0])
medianas = [alocacao[1] for alocacao in alocacoes]
dados_modelo['Alocacao'] = medianas

# Distância
dados_modelo['Distancia'] = [dij[alocacao[0], alocacao[1]] for alocacao in alocacoes]

In [23]:
dados_modelo

,Indices,População,1,2,3,4,5,6,7,8,...,40,41,42,43,44,45,Capacidade,Mediana,Alocacao,Distancia
1,1,942,0,2100,2900,2400,1600,2800,2100,750,...,55000,42200,15300,14700,24700,24600,4000,0.0,7,750
2,2,465,2100,0,800,1400,1100,2300,3400,2300,...,56100,45000,13500,12900,22900,24000,4000,0.0,2,800
3,3,847,2900,800,0,1600,1400,2500,3600,2400,...,56600,45400,13000,12400,22400,24200,4000,1.0,2,0
4,4,889,2400,1400,1600,0,450,1600,2800,1600,...,56400,45200,14000,13400,23400,22900,4000,1.0,3,0
5,5,709,1600,1100,1400,450,0,1300,2400,1200,...,55900,44700,13800,13200,23200,22900,4000,0.0,3,450
6,6,1144,2800,2300,2500,1600,1300,0,2200,2200,...,56700,45500,14900,14300,24300,24100,4000,0.0,3,1600
7,7,969,2100,3400,3600,2800,2400,3200,0,1300,...,56100,44900,16000,15400,25400,25200,4000,0.0,7,1300
8,8,777,750,2300,2400,1600,1200,2200,1300,0,...,55300,44100,14800,14200,24200,24000,4000,1.0,7,0
9,9,864,650,2300,2600,1800,1400,2200,1500,600,...,54900,43700,15000,14400,24400,24200,4000,0.0,10,450
10,10,862,800,2400,2900,2100,1700,2500,1800,1000,...,54700,43500,15300,14700,24700,24500,4000,0.0,10,300
11,11,605,500,2300,2600,1800,1400,2200,1600,900,...,54500,43400,15000,14400,24400,24200,4000,1.0,10,0
12,12,553,2200,1000,1600,2100,2100,3300,3800,3000,...,55900,44800,14000,13400,23400,25200,4000,0.0,13,1000
13,13,479,2200,450,1100,1900,1600,2700,3800,2600,...,55700,44500,13700,13100,23100,24800,4000,0.0,2,1100
14,14,688,2300,2300,900,2000,1700,2900,4000,2800,...,56000,43700,13400,12800,22800,24600,4000,1.0,13,0
15,15,658,2600,850,800,2200,1900,3000,4200,3000,...,56200,45100,13200,12600,22600,24800,4000,0.0,2,800
16,16,894,2900,1200,1200,2600,2300,3400,4600,3300,...,56600,45400,14000,13400,23400,25200,4000,0.0,13,600
17,17,723,1900,2500,3400,3100,2700,3500,2800,1900,...,54100,43000,15800,15200,25200,25500,4000,0.0,18,1100
18,18,770,1600,1200,2000,2200,1900,3100,2900,1600,...,55200,44000,15200,14600,24600,25500,4000,0.0,10,1200
19,19,864,1500,1600,2400,2600,2200,3000,2400,1400,...,54100,42900,14900,14300,24300,25100,4000,1.0,18,0
20,20,1016,2800,1700,2200,2900,2600,3800,4300,3500,...,55900,44700,14600,14000,24000,25800,4000,0.0,18,1900
21,21,746,2600,1100,1500,2400,2100,3400,4000,3200,...,55600,44500,13800,13200,23200,25000,4000,0.0,13,550
22,22,214,3800,4100,4500,5100,4800,5600,4900,4100,...,56000,44800,17400,16800,26800,27700,4000,0.0,18,2700
23,23,400,3600,4600,4700,4700,4300,5100,4400,3400,...,53700,42500,17800,17200,27200,27100,4000,0.0,18,2400
24,24,590,6100,3500,3300,4500,4400,5500,6600,5400,...,58700,47500,15700,15100,25100,27500,4000,0.0,13,2900
25,25,526,2600,220,1000,1300,1100,2200,3300,2100,...,55400,44200,13700,13100,23100,23900,4000,0.0,13,750
26,26,889,3000,1500,1100,1700,1500,2600,3700,2500,...,56600,45400,12800,12200,22200,24300,4000,0.0,2,1100
27,27,1143,2700,1900,2100,600,1000,2200,3300,2200,...,56800,45700,14500,13900,23900,23300,4000,0.0,3,600
28,28,563,1500,2800,3000,2200,1800,2600,1100,700,...,55400,42600,15400,14800,24800,24600,4000,0.0,7,700
29,29,862,650,2100,2900,2100,1700,2500,2000,1200,...,54600,43400,15600,15000,25000,24600,4000,0.0,10,500
30,30,658,3700,1600,1200,2400,2200,3300,4400,3200,...,57100,46000,12600,12000,22000,25000,4000,0.0,2,1200
31,31,703,2700,4000,4000,4100,3600,4400,3800,2800,...,52300,41100,17200,16500,26600,24700,4000,0.0,18,1800
32,32,1040,9200,6700,7000,7500,7200,8400,10300,7800,...,51100,36700,19800,19200,29200,33000,4000,1.0,31,0
33,33,166,8300,9500,9900,9700,9300,10100,9400,8600,...,47100,36200,22800,22200,32200,32100,4000,0.0,31,1600
34,34,96,10100,12000,12200,11500,11000,11800,11200,10400,...,52000,35100,24600,24000,34000,33900,4000,0.0,31,2800
35,35,1089,8100,8700,9700,9500,9000,9800,9200,8400,...,47100,38800,22600,22000,32000,31900,4000,1.0,34,0
36,36,290,11300,12400,12900,12700,12200,13000,12400,11600,...,47100,41600,25700,25100,35100,35000,4000,0.0,34,3400
37,37,512,14900,15800,16200,16000,15600,16400,15700,14900,...,50400,45400,29100,28500,38500,38400,4000,0.0,34,6800
38,38,83,29800,30900,31300,31200,30700,31500,30800,30100,...,25200,34400,44200,43600,53600,53500,4000,0.0,34,21900
39,39,194,28200,31100,31500,31300,30900,31700,31000,30200,...,58800,44600,42600,42000,52000,51900,4000,0.0,31,22800
40,40,33,55000,56100,56600,56400,55900,56700,56100,55300,...,0,49100,69400,68800,78800,24800,4000,0.0,34,47100
41,41,93,42200,45000,45400,45200,44700,45500,44900,44100,...,49100,0,56700,56100,66100,66000,4000,0.0,31,36700
42,42,748,15300,13500,13000,14000,13800,14900,16000,14800,...,69400,56700,0,1100,9400,16700,4000,1.0,41,0
43,43,225,14700,12900,12400,13400,13200,14300,15400,14200,...,68800,56100,1100,0,10500,17800,4000,0.0,41,1100
44,44,105,24700,22900,22400,23400,23200,24300,25400,24200,...,78800,66100,9400,10500,0,21400,4000,0.0,41,9400
45,45,164,24600,24000,24200,22900,22900,24100,25200,24000,...,24800,66000,16700,17800,21400,0,4000,0.0,41,16700

In [25]:
dados_modelo['Distancia_total'] = dados_modelo['Distancia'] * dados_modelo['População']
print(dados_modelo)

   Indices  População      1      2      3      4      5      6      7      8  \
1        1        942      0   2100   2900   2400   1600   2800   2100    750
2        2        465   2100      0    800   1400   1100   2300   3400   2300
3        3        847   2900    800      0   1600   1400   2500   3600   2400
4        4        889   2400   1400   1600      0    450   1600   2800   1600
5        5        709   1600   1100   1400    450      0   1300   2400   1200
6        6       1144   2800   2300   2500   1600   1300      0   2200   2200
7        7        969   2100   3400   3600   2800   2400   3200      0   1300
8        8        777    750   2300   2400   1600   1200   2200   1300      0
9        9        864    650   2300   2600   1800   1400   2200   1500    600
10      10        862    800   2400   2900   2100   1700   2500   1800   1000
11      11        605    500   2300   2600   1800   1400   2200   1600    900
12      12        553   2200   1000   1600   2100   2100   3300   3800   3000
13      13        479   2200    450   1100   1900   1600   2700   3800   2600
14      14        688   2300   2300    900   2000   1700   2900   4000   2800
15      15        658   2600    850    800   2200   1900   3000   4200   3000
16      16        894   2900   1200   1200   2600   2300   3400   4600   3300
17      17        723   1900   2500   3400   3100   2700   3500   2800   1900
18      18        770   1600   1200   2000   2200   1900   3100   2900   1600
19      19        864   1500   1600   2400   2600   2200   3000   2400   1400
20      20       1016   2800   1700   2200   2900   2600   3800   4300   3500
21      21        746   2600   1100   1500   2400   2100   3400   4000   3200
22      22        214   3800   4100   4500   5100   4800   5600   4900   4100
23      23        400   3600   4600   4700   4700   4300   5100   4400   3400
24      24        590   6100   3500   3300   4500   4400   5500   6600   5400
25      25        526   2600    220   1000   1300   1100   2200   3300   2100
26      26        889   3000   1500   1100   1700   1500   2600   3700   2500
27      27       1143   2700   1900   2100    600   1000   2200   3300   2200
28      28        563   1500   2800   3000   2200   1800   2600   1100    700
29      29        862    650   2100   2900   2100   1700   2500   2000   1200
30      30        658   3700   1600   1200   2400   2200   3300   4400   3200
31      31        703   2700   4000   4000   4100   3600   4400   3800   2800
32      32       1040   9200   6700   7000   7500   7200   8400  10300   7800
33      33        166   8300   9500   9900   9700   9300  10100   9400   8600
34      34         96  10100  12000  12200  11500  11000  11800  11200  10400
35      35       1089   8100   8700   9700   9500   9000   9800   9200   8400
36      36        290  11300  12400  12900  12700  12200  13000  12400  11600
37      37        512  14900  15800  16200  16000  15600  16400  15700  14900
38      38         83  29800  30900  31300  31200  30700  31500  30800  30100
39      39        194  28200  31100  31500  31300  30900  31700  31000  30200
40      40         33  55000  56100  56600  56400  55900  56700  56100  55300
41      41         93  42200  45000  45400  45200  44700  45500  44900  44100
42      42        748  15300  13500  13000  14000  13800  14900  16000  14800
43      43        225  14700  12900  12400  13400  13200  14300  15400  14200
44      44        105  24700  22900  22400  23400  23200  24300  25400  24200
45      45        164  24600  24000  24200  22900  22900  24100  25200  24000

    ...     41     42     43     44     45  Capacidade  Mediana  Alocacao  \
1   ...  42200  15300  14700  24700  24600        4000      0.0         7
2   ...  45000  13500  12900  22900  24000        4000      0.0         2
3   ...  45400  13000  12400  22400  24200        4000      1.0         2
4   ...  45200  14000  13400  23400  22900        4000      1.0         3
5   ...  44700  13800  13200  23200  22900        4000      0.0         3
6   ...  45500  14900  14300  24300  24100        4000      0.0         3
7   ...  44900  16000  15400  25400  25200        4000      0.0         7
8   ...  44100  14800  14200  24200  24000        4000      1.0         7
9   ...  43700  15000  14400  24400  24200        4000      0.0        10
10  ...  43500  15300  14700  24700  24500        4000      0.0        10
11  ...  43400  15000  14400  24400  24200        4000      1.0        10
12  ...  44800  14000  13400  23400  25200        4000      0.0        13
13  ...  44500  13700  13100  23100  24800        4000      0.0         2
14  ...  43700  13400  12800  22800  24600        4000      1.0        13
15  ...  45100  13200  12600  22600  24800        4000      0.0         2
16  ...  45400  14000  13400  23400  25200        4000      0.0        13
17  ...  43000  15800  15200  25200  25500        4000      0.0        18
18  ...  44000  15200  14600  24600  25500        4000      0.0        10
19  ...  42900  14900  14300  24300  25100        4000      1.0        18
20  ...  44700  14600  14000  24000  25800        4000      0.0        18
21  ...  44500  13800  13200  23200  25000        4000      0.0        13
22  ...  44800  17400  16800  26800  27700        4000      0.0        18
23  ...  42500  17800  17200  27200  27100        4000      0.0        18
24  ...  47500  15700  15100  25100  27500        4000      0.0        13
25  ...  44200  13700  13100  23100  23900        4000      0.0        13
26  ...  45400  12800  12200  22200  24300        4000      0.0         2
27  ...  45700  14500  13900  23900  23300        4000      0.0         3
28  ...  42600  15400  14800  24800  24600        4000      0.0         7
29  ...  43400  15600  15000  25000  24600        4000      0.0        10
30  ...  46000  12600  12000  22000  25000        4000      0.0         2
31  ...  41100  17200  16500  26600  24700        4000      0.0        18
32  ...  36700  19800  19200  29200  33000        4000      1.0        31
33  ...  36200  22800  22200  32200  32100        4000      0.0        31
34  ...  35100  24600  24000  34000  33900        4000      0.0        31
35  ...  38800  22600  22000  32000  31900        4000      1.0        34
36  ...  41600  25700  25100  35100  35000        4000      0.0        34
37  ...  45400  29100  28500  38500  38400        4000      0.0        34
38  ...  34400  44200  43600  53600  53500        4000      0.0        34
39  ...  44600  42600  42000  52000  51900        4000      0.0        31
40  ...  49100  69400  68800  78800  24800        4000      0.0        34
41  ...      0  56700  56100  66100  66000        4000      0.0        31
42  ...  56700      0   1100   9400  16700        4000      1.0        41
43  ...  56100   1100      0  10500  17800        4000      0.0        41
44  ...  66100   9400  10500      0  21400        4000      0.0        41
45  ...  66000  16700  17800  21400      0        4000      0.0        41

    Distancia  Distancia_total
1         750           706500
2         800           372000
3           0                0
4           0                0
5         450           319050
6        1600          1830400
7        1300          1259700
8           0                0
9         450           388800
10        300           258600
11          0                0
12       1000           553000
13       1100           526900
14          0                0
15        800           526400
16        600           536400
17       1100           795300
18       1200           924000
19          0                0
20       1900          1930400
21        550           410300
22       2700           577800
23       2400           960000
24       2900          1711000
25        750           394500
26       1100           977900
27        600           685800
28        700           394100
29        500           431000
30       1200           789600
31       1800          1265400
32          0                0
33       1600           265600
34       2800           268800
35          0                0
36       3400           986000
37       6800          3481600
38      21900          1817700
39      22800          4423200
40      47100          1554300
41      36700          3413100
42          0                0
43       1100           247500
44       9400           987000
45      16700          2738800

[45 rows x 52 columns]

In [29]:
dados_modelo.to_excel('P-Mediana.xlsx')